.DS_Store
.idea
**coverage/
build
**dist/
**jest.json
*.css.json
*.css.json.json
**manifest.json
**yarn-debug.log
**yarn-error.log
**yarn.lock
build-stats.json
node_modules/
npm-debug.log
.vscode/
.history
errorShots
publish-components
publish-icons
src/Icons/lib
src/components/lib
